:root{
    --cor--background:#343434;
    --cor--texto:#FFFFFF;
    --cor--texto--secundario:#13214201;

}

body{
    background-color: var(--cor--background);
}

header{
    color: var(--cor--texto);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
li{
    display: inline-block;
    margin: 20px;
}

a{
    color: #FFFFFF;
    list-style-type: none;
}
a :hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}
#inscreva-se-btn:hover{
    background-color: rgb(132, 14, 201);
    color: #FFFFFF;

}






